doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 
			block title
			| - Network Monitor
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
		link(rel='stylesheet', href='css/AdminLTE.min.css')
		link(rel='stylesheet', href='css/skins/skin-green.min.css')
		
	body.hold-transition.skin-green.sidebar-mini
		// Site wrapper
		.wrapper
			header.main-header
				// Logo
				a.logo(href='/')
					// mini logo for sidebar mini 50x50 pixels
					span.logo-mini
						b NT
						| M
					// logo for regular state and mobile devices
					span.logo-lg
						b Network 
						| Monitor
				// Header Navbar: style can be found in header.less
				nav.navbar.navbar-static-top
					// Sidebar toggle button
					a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
			// ===============================================
			aside.main-sidebar
				section.sidebar
					ul.sidebar-menu
						li.header MAIN NAVIGATION
						li
							a(href='/')
								i.fa.fa-home
								span Index
						li
							a(href='/bitnodes')
								i.fa.fa-bitcoin
								span Bitnodes
						li
							a(href='/api/v1/nodes',target="_blank")
								i.fa.fa-book
								span Nodes Api
			// ===============================================
			// Content Wrapper. Contains page content
			.content-wrapper
				// Content Header (Page header)
				section.content-header
					h1
						| Nodes
				// Main content
				block content
					
			footer.main-footer
				.pull-right.hidden-xs
					a(href='https://github.com/julysallari/Bitcoin')
						| View on GitHub 
						i.fa.fa-github
				|		 Network Monitor - TPE Bitcoin 2016 - Julieta Sal-lari, Jorge Gómez
		// ./wrapper
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
		script(src='js/app.min.js')
		block scripts
		script(src='js/index.js')
